

.print{padding: 20px;}
.title{font-family: 'Pinyon Script', cursive; font-weight: 400; font-size: 26px; text-align: center; border-bottom:1px solid #000;  margin: 0 0 30px 0; padding: 0 0 10px 0;}
.subtitle{font-size: 18px; font-weight: 500;  margin: 0; padding: 0 0 10px 0;}
.iteminfo{padding-top: 25px; }
.iteminfo p{font-family: 'Pinyon Script', cursive; font-weight: 400; font-size: 20px; text-align: center; line-height: 1.1;}
.iteminfolabel{font-size: 17px; color: #999999; border-bottom: 1px dashed #ccc; margin: 0; padding: 10px 0;}
.iteminfolabel span{font-size: 14px; color: #000000; font-weight: 500; margin-left: 10px; display: inline-block; }

.purchasedate{font-size: 15px; padding-bottom: 15px;}

.infotable {margin-top: 10px;}
.infotable th, .infotable td{font-size: 14px; font-weight: 500; padding-right: 10px; padding-bottom: 8px;}
.infotable th{font-size: 10px; color: #999999; font-weight: 400;}

.border-row{border-left:1px dashed #ccc; padding-left: 30px;}
